* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #031111;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #BBBBBB !important;
}

a {
  color: #00BB00 !important;
  text-decoration: none;
}

button.freshGreen {
  border-color: #00BB00 !important;
  color: #00BB00 !important;
  padding: 20px !important;
  margin: 5px;
}

button.freshRed {
  border-color: #BB0000 !important;
  color: #BB0000 !important;
  padding: 20px !important;
  margin: 5px;
}

.scrollable-panel {
  height: 560px;
  overflow-y: scroll;
  width: 100%;
}